<%- include('./partials/head.ejs') %>

  <main id='game'>

    <section>
      <img src="" alt="">
      <h2></h2>
    </section>

    <section>
      <ul id='messages'></ul>
      <form id='chatForm'>
        <input id='message' type="text" placeholder='Bericht'>
        <button type='submit'>Verstuur</button>
      </form>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>