<%- include('./partials/head.ejs') %>

  <main id='game'>

    <section>
      <img id='artimg' src="" alt="">
      <h2 id='arttext'></h2>
    </section>

    <section>
      <div>
        <h1>Chat</h1>
      </div>
      <ul id='messages'></ul>
      <form id='chatForm'>
        <input id='message' type="text" placeholder='Bericht'>
        <button type='submit'>Verstuur</button>
      </form>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>