<%- include('./partials/head.ejs') %>

  <main>

    <section>
      <img src="" alt="">
      <h2></h2>
    </section>

    <section>
      <h1>Artist Guesser</h1>
      <ul id='messages'></ul>
      <form>
        <input id='name' type='text' placeholder='naam'>
        <input id='message' type="text" placeholder='bericht'>
        <button type='submit'>Send</button>
      </form>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>