<%- include('./partials/head.ejs') %>

  <main id='index'>

    <section>
      <h1>Hi there!</h1>
      <h2>In this game you guess artists by their artwork, <span>with friends!</span></h2>

      <form action='/game' method='get'>
        <input id='name' type='text' placeholder='Naam' name='name' required=required>
        <input id='message' class='hidden' type="text" placeholder='Bericht'>
        <button type='submit'>Begin met spelen!</button>
      </form>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>