* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  background: #1C1C1C;
}

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  width: 20em;
  height: 25em;
  background: #F5F5F5;
  border-radius: 2em;
  box-shadow: 0 5px 10px 0 #FF0099;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1 {
  margin: 0;
  padding: 0;
  padding-top: 1em;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1em;
}

section ul {
  margin: 0;
  padding: .2em;
  list-style-type: none;
  flex-grow: 2;
  width: 18em;
  overflow-x: scroll;
}

section ul > li {
  padding: 0.5em 1em;
  font-size: .8em;
  color: #000000;
}

section form {
  margin: 1em 0;
  padding: 0;
  width: 18em;
  height: 2em;
  display: flex;
  flex-direction: column;
}

section form input {
  margin: 0.5em;
  padding: 10px 20px;
  border: none;
  width: auto;
  height: 2em;
  border-radius: 2em;
  opacity: 80%;
  outline: none;
}

section form input:first-of-type {
  margin-top: 4em;
}

section form > button {
  width: auto;
  height: 3em;
  background: #000FFF;
  border: 1px solid #FFFFFF;
  border-radius: 2em;
  padding: 10px 15px;
  margin-left: .2em;
  outline: none;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
}

img {
  width: 15em;
  height: 15em;
}

.hidden {
  display: none;
}